@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.bg-dark {
  background-color: #343a40 !important;
}

.jg-font{

	font-family: 'Jeju Gothic', sans-serif;
	font-size : 25px;
	
	margin-top : 10px;
}

.catListWrapper {
	text-align: center;
}

ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 1200px;
    width: 100%;
}

.inputSearch {
	height: 70px !important;
	font-size: 25px !important;
	font-weight: 600 !important;
}

ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /* border: 1px solid #efefef; */
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    text-align : center;
    color : white;
    margin-right: 20px;
}

ul.mylist li:hover,
ol.mylist li:hover {
    background-color: #f6f6f6;
}

#titleMark{
    width: 600px;
    bottom: 0;
    height: 24%;
}

.card-table {
	width: 600px;
	color: #707070;
}

.card-table tr {
	height: 40px;
}

.card-table tr.border-bottom {
	border-bottom: solid 2px #fafafa !important;
}

.card-table th {
	width: 160px;
}

.card-table td {
	font-weight: 400;
	font-size: 18px;
}