
.recruit {
	font-size:20px;
}

.card .separator {
	width: 775px;
	height: 4px;
	background-color: #fafafa;
	margin-bottom: 20px;
}

.card-table {
	width: 865px;
	color: #707070;
}

.card-table tr {
	height: 40px;
	vertical-align: baseline;
}

.card-table tr.border-bottom {
	border-bottom: solid 2px #fafafa !important;
}

.card-table th {
	width: 160px;
}

.card-table td {
	font-weight: 400;
	font-size: 18px;
}

.form-control-user {
	font-size: 18px !important;
	border-radius: 10rem !important;
	padding: 1.5rem 1rem !important;
	width: 100% !important;
}

.form-control-user-ta {
	border-radius: 30px !important;
	resize: none;
}

.npl {
	padding-left: 0px !important;
}

.npr {
	padding-right: 0px !important;
}

.row {
	padding-bottom: 15px;
}

.label {
	font-size: 20px;
	font-weight: 600;
	color: #707070;
}

.alertc {
	font-size: 15px;
	font-weight: 600;
	color: red;
}